nav {
  top: 0px;
  position: sticky;
  position: fixed;
  padding-top: 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #852085;
  position: fixed;
  border-style: dashed;
  width: 100vw;
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
footer{
  text-align: center;
  float: bottom;
  height: 50px;
  width: 98vw;
  background-color: grey;
}
h1{
  padding-top: 50px;
}
body{
  margin: 0;
background-image: url(../img/arena.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.chainthrow{
color:linen
}
